<a href="https://colab.research.google.com/github/solozano0725/diplomadoMLNivel1/blob/main/ejercicios_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **REPOSITORIO DEL CURSO:** https://github.com/diplomadomludea/nivel_1

### **Ejercicio 1**

* Construya un DataFrame a partir del siguiente diccionario

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 
             'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 12, 8, 19], 
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

con las siguientes etiquetas para los índices

In [ ]:
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

* Seleccione las primeras tres filas

para ver la solución haga doble click aquí

<!-- 
df = pd.DataFrame(exam_data, index=labels)

df.iloc[:3]
-->

* Seleccione solo las columnas *name* y *score*.

para ver la solución haga doble click aquí

<!-- 
df[["name","score"]]
-->

* Seleccione las filas 2, 4 y 7 y las columnas *score* y *qualify*

para ver la solución haga doble click aquí

<!-- 
df.iloc[[1,3,6], [1,3]]
# or
df.loc[["b","d","g"], ["score","name"]]
-->

* Cambie el *score* en la fila 'd' a 11.5

para ver la solución haga doble click aquí

<!-- 
df.loc["d", "score"] = 11.5
-->

* Agregue una nueva fila con etiqueta 'k' al dataframe con un valor que usted desee para cada columna

para ver la solución haga doble click aquí

<!-- 
df.loc["k"] = ["Boris", 20, 1, "yes"]
-->

* Elimine la fila 'k' y entregue nuevamente el DataFrame original.

para ver la solución haga doble click aquí

<!-- 
df.drop(index="k", inplace=True)
-->

* Ordene el DataFrame por nombre en orden ascendente.

para ver la solución haga doble click aquí

<!-- 
df.sort_values(by="name", inplace=True)
-->

* Reemplace los valores de la columna *qualify* que contiene los valores *yes* y *no* por los valores booleanos True y False respectivamente.

para ver la solución haga doble click aquí

<!-- 
df.qualify.replace({"yes":True, "no":False}, inplace=True)
-->

* Cuente el número de personas que pasaron el test (`qualify => yes`)

para ver la solución haga doble click aquí

<!-- 
df.qualify.sum()
-->

### **Ejercicio 2**

Importe el dataset *u.user* del respositorio del curso

* Importar el dataset, asignarlo a una variable llamada *users* y usar el *user_id* como índice.

para ver la solución haga doble click aquí

<!-- 
import pandas as pd

users = pd.read_csv("https://raw.githubusercontent.com/diplomadomludea/nivel_1/master/data/u.user", sep="|", index_col="user_id")
-->

* ¿Cuál es la edad media de los usuarios?

para ver la solución haga doble click aquí

<!-- 
users.age.mean()
-->

* ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

para ver la solución haga doble click aquí

<!-- 
users.occupation.nunique()
-->

* ¿Cuál es la ocupación más frecuente?

para ver la solución haga doble click aquí

<!-- 
users.occupation.value_counts().idxmax()
-->

* ¿Cuál es la edad media por ocupación?

para ver la solución haga doble click aquí

<!-- 
users.groupby("occupation").age.mean()
-->

* Para cada ocupación calcule las edades mínimas y máximas

para ver la solución haga doble click aquí

<!-- 
users.groupby("occupation").age.agg(["min","max"])
-->

* Para cada combinación de ocupación y género calcule la edad media

para ver la solución haga doble click aquí

<!-- 
users.groupby(["occupation", "gender"]).age.mean()
-->

* Obtenga la proporción de hombres por ocupación (de mayor a menor)

para ver la solución haga doble click aquí

<!-- 
users["gender_n"] = users.gender.replace({"M":1, "F":0})

users.groupby("occupation").gender_n.apply(lambda s: s.sum()/len(s)).sort_values(ascending=False)
-->


* Para cada ocupación muestre el porcentaje de mujeres y hombres en un único objeto

para ver la solución haga doble click aquí

<!-- 
gender_ocup = users.groupby(['occupation', 'gender']).size()
ocup_size = users.groupby(['occupation']).gender.size()

gender_ocup / ocup_size
-->

**Ejercicio 3** 

Cargue los siguientes conjuntos de datos (del repositorio del curso) referente a tarjetas de credito del mes 09 del 2017

# **estado_201709.csv**

* ID:​ Nro. de identificación.
* Franquicia:​ A, B, C.
* Tipo Tarjeta:​ Representa el tipo de tarjeta.
* Número Tarjeta:​ Indica el número de la TC.
* Cupo Global:​ Indica el cupo de crédito que tiene la tarjeta.
* Disponible: Indica del cupo global cuanto tiene a ese corte disponible para realizar compras o avances.
* Fecha Emisión:​ Fecha en la que se compró la tarjeta.
* Fecha Ult Aumento Cupo: Fecha en la que se realizó el último aumento de cupo. Cuando está en 0 significa que nunca se ha realizado un aumento de cupo.
* Total Mes en Mora: Número de meses que ha estado en mora la TC (durante toda
la vida de la tarjeta).
*Altura de Mora: ​Indica la mora actual que tiene la TC. Viene en rango:
  ○ 0 No está en mora,
  ○ 30 está en mora hace menos de 30 días,
  ○ 60 está en mora hace menos de 60 días.
  ○ 90 está en mora hace menos de 90 días.
*Código Vendedor:​ Indica el código del vendedor que emitió la TC.
*Código Estado Tarjeta: Indica si la tarjeta está Activa o vigente (Codigo=0) y código = 1 (indica que la tarjeta está cancelada por el cliente).

# **transaccion_201709.csv**

* ID:​ Nro de identificación.
* Número Tarjeta:​ Indica el número de la TC que realizó la transacción.
* Fecha de transacción​: Indica la fecha en que se realizó la transacción.
* Codigo Transacción:
  ○ AV : AVANCE
  ○ AB: ABONO
  ○ CN: COMPRA NACIONAL
  ○ CI: COMPRA INTERNAL
  ○ CM: CUOTA DE MANEJO.
* Valor Transacción:​ Indica el valor de la transacción.
* Numero Cuotas Diferidas: Indica el número de cuotas en el que el cliente desea pagar la compra.

* Realice un análisis exploratorio inicial de los conjuntos de datos para familiarizarse con ellos

para ver la solución haga doble click aquí

<!-- 
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
sns.set()

# ESTADO
estado = pd.read_csv("https://raw.githubusercontent.com/diplomadomludea/nivel_1/master/data/estado_201709.csv", index_col="Unnamed: 0")

# resumen compacto
estado.info()

# tipos de franquicia y sus frecuencias
estado["FRANQUICIA"].value_counts()

# tipos de tarjeta y sus frecuencias
estado["TIPO TARJETA"].value_counts()

# numero de usuarios diferentes
estado["ID"].nunique()

# numero de tarjetas diferentes
estado["NUMERO TARJETA"].nunique()

# numero de tarjetas activas e inactivas
activas = estado['CODIGO ESTADO TARJETA'].sum()
inactivas = len(estado) - activas

# numero de vendedores diferentes
estado["CODIGO VENDEDOR"].nunique()

# mora categorizada (frecuencia)
pd.cut(estado["TOTAL MES EN MORA"], 3, labels=["baja","media","alta"]).value_counts()


# TRANSACCION
transaccion = pd.read_csv("https://raw.githubusercontent.com/diplomadomludea/nivel_1/master/data/transaccion_201709.csv", index_col="Unnamed: 0")

# numero de usuarios diferentes
transaccion["ID"].nunique()

# numero de tarjetas diferentes
transaccion["NUMERO TARJETA"].nunique()

# tipos de codigos de transaccion y sus frecuencias
transaccion["CODIGO TRANSACCION"].value_counts()

# valor de transaccion categorizada (frecuencia)
pd.cut(transaccion["VALOR TRANSACCION"], 3, labels=["baja","media","alta"]).value_counts()

# frecuencia de las cuotas diferidas
transaccion["NUMERO CUOTAS DIFERIDAS"].value_counts().plot(kind="bar")
plt.xlabel("Numero de cuotas diferidas")
plt.ylabel("Frecuencia");
-->

* Use el método `merge` para combinar los datasets en el `NUMERO TARJETA' (en la intersección)

para ver la solución haga doble click aquí

<!-- 
data = pd.merge(estado, transaccion, on="NUMERO TARJETA", how="inner")
data.head()
-->

* Haga un gráfico de dispersión 'CODIGO VENDEDOR' vs 'CODIGO ESTADO TARJETA', ¿El vendedor de la tarjeta influencia las cancelaciones?

para ver la solución haga doble click aquí

<!-- 
# eliminamos el dato atipico
data['CODIGO VENDEDOR'] = data['CODIGO VENDEDOR'][data['CODIGO VENDEDOR'] < 40000]

sns.scatterplot(data=data, y="CODIGO ESTADO TARJETA", x="CODIGO VENDEDOR");
-->

* Agrupe los datos por tipo de tarjeta y estado de la tarjeta. Hága un conteo ¿Existe alguna relación entre el tipo de tarjeta y la cancelación de la misma?

para ver la solución haga doble click aquí

<!-- 
tipo_codigo = data.pivot_table(index='TIPO TARJETA', columns='CODIGO ESTADO TARJETA', aggfunc={'CODIGO ESTADO TARJETA':'count'})

tipo_codigo.sort_values(by=("CODIGO ESTADO TARJETA",0), ascending=False)
-->

* Realice un bineo del total de meses en mora partiendolos en tres categorías: 'baja mora', 'media mora', 'alta mora'. ¿Existe alguna relación entre la mora y la cancelación de la tarjeta? Realice un mapa de calor para la visualización.

para ver la solución haga doble click aquí

<!-- 
data["MORA"] = pd.cut(data["TOTAL MES EN MORA"], 3, labels=["baja", "media", "alta"])

mora_estado = data.pivot_table(index="MORA", columns="CODIGO ESTADO TARJETA", aggfunc={"CODIGO ESTADO TARJETA":"count"})

sns.heatmap(mora_estado, cmap="coolwarm")
plt.title("Numero de tarjetas")
plt.xlabel("Estado tarjeta")
plt.xticks([0.5,1.5], ["Activa","Cancelada"]);
-->

### **Ejercicio 4**

En este ejercicio utilizaremos el conjunto de datos winemag-data. Este conjunto de datos contiene datos de reseñas de vinos extraídos de winemag.com el 15 de junio de 2017. Las variables de este conjunto de datos son las siguientes:

* country: El país de donde proviene el vino
* description: Algunas frases de un sumiller que describen el sabor, olor, apariencia, sensación, etc. del vino.
* designation: El viñedo dentro de la bodega de donde provienen las uvas con las que se elaboraron el vino.
* points: El número de puntos con que se calificó al vino en una escala del 1 al 100.
* price: El costo de una botella de este vino (en dólares)
* province: La provincia o estado del país de donde proviene el vino
* region_1: La zona vitivinícola de la provincia o el estado
* region_2: Una región más específica dentro de una región más grande (puede estar en blanco si no hay una región más pequeña).
* taster_name: Nombre del sommelier que probó y revisó el vino.
* taster_twitter_handle: Twitter de la sumiller que probó y revisó el vino.
* title: El título de la reseña del vino
* variety: El tipo de uva utilizada para hacer el vino.
* winery: Nombre de la bodega

* Cargue el conjunto de datos (wine.csv) a un DataFrame de Pandas con el nombre *reviews*. ¿Qué países están representados en el conjunto de datos?

para ver la solución haga doble click aquí

<!-- 
reviews = pd.read_csv("https://raw.githubusercontent.com/diplomadomludea/nivel_1/master/data/wine.csv", index_col="Unnamed: 0")

reviews.country.unique()
-->

* ¿Con qué frecuencia aparece cada país en el conjunto de datos? Cree una serie *reviews_per_country* que mapee los países al recuento de reseñas de vinos de ese país.

para ver la solución haga doble click aquí

<!-- 
reviews_per_country = reviews.country.value_counts()
-->

* Cree una variable *centered_price* que contenga una versión de la columna *price* con el precio medio restado.

para ver la solución haga doble click aquí

<!-- 
centered_price = reviews.price - reviews.price.mean()
-->

* Cree una variable *country-region* que contenga la concatenación de *country* y *region_1* por cada vino (Ejemplo: *Italy - Etna* para el primer registro)

para ver la solución haga doble click aquí

<!-- 
country_region = reviews.country + "-" + reviews.region_1
-->

* Suponga que es un comprador de vino. ¿Qué vino ofrece la "mejor ganga"? Cree una variable *bargain_wine* con el título del vino con la relación entre puntos y precio más alta del conjunto de datos.

para ver la solución haga doble click aquí

<!-- 
index = (reviews.points / reviews.price).idxmax()

bargain_wine = reviews.loc[index, "title"]
-->

* Obtenga el número de reseñas por país y provincia.

para ver la solución haga doble click aquí

<!-- 
reviews.groupby(["country","province"]).size()
-->

* Obtenga el número de reseñas por país, mostrando además cuáles son los precios mínimo y máximo.

para ver la solución haga doble click aquí

<!-- 
reviews.groupby("country").price.agg(["min","max"])
-->

* ¿Quiénes son los revisores de vinos más comunes en el conjunto de datos? Cree una serie cuyo índice sea la categoría *taster_twitter_handle* del conjunto de datos y cuyos valores cuenten cuántas reseñas escribió cada persona.

para ver la solución haga doble click aquí

<!-- 
reviews_written = reviews.groupby('taster_twitter_handle').size()
-->

* ¿Cuál es el mejor vino que puedo comprar por una determinada cantidad de dinero? Cree una serie cuyo índice sea el precio del vino y cuyos valores sean el número máximo de puntos que se le dio a un vino que cueste dicho precio en una reseña. Ordenar los valores por precio y en forma ascendente.

para ver la solución haga doble click aquí

<!-- 
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()
-->

* ¿Cuáles son los precios mínimos y máximos para cada variedad de vino? Cree un DataFrame cuyo índice sea la categoría de variedad del conjunto de datos y cuyos valores sean los valores mínimo y máximo del mismo.

para ver la solución haga doble click aquí

<!-- 
price_extremes = reviews.groupby('variety').price.agg([min, max])
-->

* ¿Cuáles son las variedades de vino más caras? Cree una variable *sorted_varieties* que contenga una copia del DataFrame anterior donde las variedades se clasifican en orden descendente según el precio máximo

para ver la solución haga doble click aquí

<!-- 
sorted_varieties = price_extremes.sort_values(by='max', ascending=False)
-->

* Cree una serie cuyos índices sean los reseñadores y cuyos valores sean la puntuación promedio de revisión otorgada por el reseñador respectivo.

para ver la solución haga doble click aquí

<!-- 
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()
-->

* ¿Qué combinación de países y variedades son las más comunes? Cree una serie cuyo índice sea un índice múltiple de pares (country, variety) . Por ejemplo, un Pinot Noir producido en los EE.UU debe asignarse a ("US", "Pinot Noir"). Ordene los valores de la serie en orden descendente según el recuento de vinos.

para ver la solución haga doble click aquí

<!-- 
country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)
-->

* Obtenga el nombre del primer vino reseñado de cada bodega en el conjunto de datos:

para ver la solución haga doble click aquí

<!-- 
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])
-->


* Obtenga el mejor vino por país y provincia.

para ver la solución haga doble click aquí

<!-- 
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()]).title
-->

* Nos gustaría alojar estas reseñas de vinos en nuestro sitio web, pero un sistema de calificación que va de 80 a 100 puntos es demasiado difícil de entender; nos gustaría traducirlas en calificaciones de estrellas simples: Una puntuación de 95 o más cuenta como 3 estrellas, una puntuación de al menos 85 pero menos de 95 es 2 estrellas. Cualquier otra puntuación es de 1 estrella.

  Además, la Asociación Canadiense de Vinateros compró muchos anuncios en el sitio, por lo que cualquier vino de Canadá debería obtener automáticamente 3 estrellas, independientemente de los puntos.

  Cree una serie *star_ratings* con el número de estrellas correspondiente a cada revisión en el conjunto de datos.

para ver la solución haga doble click aquí

<!-- 
def points_to_stars(df):
  """change metric from points to stars"""
  if df.country == "Canada":
    return 3
  elif df.points >= 95:
    return 3
  elif df.points >= 85:
    return 2
  else:
    return 1 

star_ratings = reviews.apply(points_to_stars, axis=1)
-->

* Hay un número limitado de palabras que puede utilizar al describir una botella de vino. ¿Es más probable que un vino sea "tropical" o "fruity"? Cree una serie *descriptor_counts* contando cuántas veces aparece cada una de estas dos palabras en la columna de descripción del conjunto de datos.

para ver la solución haga doble click aquí

<!-- 
n_t = reviews.description.map(lambda desc: "tropical" in desc).sum()
n_f = reviews.description.map(lambda desc: "fruit" in desc).sum()

descriptor_counts = pd.Series([n_t, n_f], index=["tropical", "fruity"])
descriptor_counts
-->